{% extends "app/appbase.twig" %}

{% block title %}Bericht{% endblock %}

{% block content %}
  <div class="wrapper narrow">
    <section>
      <h1>Bericht vom {{exam.dateReadable}}</h1>
      {% if user.isModerator %}<a href="/app/admin/user/{{exam.UserId}}"><i class="material-icons">person</i> von {{exam.User.email}}</a><br><br>{% endif %}
      <a href="{{exam.id}}/pdf" class="btn iconbtn"><i class="material-icons">save</i> als PDF speichern</a>
      {% if user.id == exam.UserId or user.isModerator %}<a href="{{exam.id}}/edit" class="btn iconbtn important"><i class="material-icons">edit</i> bearbeiten</a>{% endif %}
      {% if user.id == exam.UserId or user.isModerator %}<form method="post" action="{{exam.id}}/delete" onsubmit="return confirm('Diesen Bericht wirklich löschen?')" style="display: inline-block"><button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> löschen</button></form>{% endif %}
      <h4>{{exam.ExamLocation.name}}</h4>
      <h4>Note: {{exam.grade}}</h4>
      <p class="usertext">{{exam.commentRendered | raw}}</p>
      {% for report in exam.SubjectExams %}
        <div class="card mb" >
          <h3>{{report.Subject.name}}</h3>
          <h5>{{report.Examiner.name}}</h5>
          <p class="usertext">{{report.reportRendered | raw}}</p>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}