{% extends "base.twig" %}

{% block title %}Bericht{% endblock %}

{% block content %}
  <div class="wrapper">
    <section>
      <h1>Bericht vom {{examDate}}</h1>
      <a href="{{exam.id}}/pdf" class="btn"><i class="material-icons">save</i> als PDF speichern</a>
      {% if user.id == exam.UserId %}<a href="editreport/{{exam.id}}" class="btn important"><i class="material-icons">edit</i> bearbeiten</a>{% endif %}
      <h4>{{exam.ExamLocation.name}}</h4>
      {% for report in exam.SubjectExams %}
        <div class="card" style="margin-bottom: 16px">
          <h3>{{report.Subject.name}}</h3>
          <h5>{{report.Examiner.name}}</h5>
          {{report.report | nl2br}}
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}