{% extends "app/appbase.twig" %}

{% block title %}Suche{% endblock %}

{% block content %}
  <div class="wrapper">
    <section>
    {% if canView %}
      <div class="card">
        <h1 class="mtop0">Arbeitsgruppensuche</h1>
        <form method="GET">
          <div class="inputlabel">
            <label>Fachrichtung</label>
            <input type="text" name="subject" placeholder="z.B. Neurophysiologie" minlength="3" {% if query.subject %}value="{{query.subject}}"{% endif %}>
          </div><br>
          <div class="inputlabel">
            <label>Doktorvater/-mutter</label>
            <input type="text" name="head" placeholder="z.B. Joachim Kirsch" minlength="3" {% if query.head %}value="{{query.head}}"{% endif %}>
          </div><br>
          <div class="inputlabel">
            <label>Betreuer:in</label>
            <input type="text" name="supervisor" placeholder="z.B. Tom Müller" minlength="3" {% if query.supervisor %}value="{{query.supervisor}}"{% endif %}>
          </div><br>
          <button type="submit" class="important iconbtn"><i class="material-icons">search</i> suchen</button>
        </form>
        </div>
      <h1>Ergebnisse</h1>
      <ul>
        {% for result in results %}
          <li><a href="research/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.subject}}</strong>: {{result.head}} & {{result.supervisor}}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      Die Arbeitsgruppenberichte sind noch nicht öffentlich. Du kannst uns jedoch gerne helfen, die Datenbank zu befüllen, indem du einen Bericht verfasst!
      {% endif %}
    </section>
  </div>
{% endblock %}

{% block js %}
{% endblock %}