{% extends "app/appbase.twig" %}

{% block title %}Pr端fungen{% endblock %}

{% block content %}
  <div class="title-2-col">
    <h1>Pr端fungsprotokolle</h1>
  </div>
  <div class="wrapper-2-col right-over">
    <div class="grid-col left">
      {% if results %}
      <a href="/app/pdfmulti?exams={{multiDLIds}}&q={{multiDLquery}}" class="btn iconbtn"><i class="material-icons">save</i> alle als PDF speichern</a>
      {% endif %}
      <ul class="striped">
        {% for result in results %}
          <li><a href="/app/exam/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid-col right">
      <div class="card">
        <h2>Suche</h2>
        <form method="GET">
          Pr端fungstyp:
          <select name="examType">
            <option value="0">alle</option>
            {% for examType in examTypes %}
              <option value="{{examType.id}}" {% if examType.id == query.examType %}selected{% endif %}>{{examType.name}}</option>
            {% endfor %}
          </select><br><br>
          <div class="inputlabel">
            <label>Ort der Pr端fung (Klinikum, Institut)</label>
            <input type="hidden" name="locationId" {% if query.locationId %}value="{{query.locationId}}"{% endif %}>
            <input type="text" name="location" data-autocomplete="location" placeholder="z.B. Uniklinikum" minlength="3" {% if query.location %}value="{{query.location}}"{% endif %}>
          </div><br>
          <div class="inputlabel">
            <label>Fach</label>
            <input type="hidden" name="subjectId" {% if query.subjectId %}value="{{query.subjectId}}"{% endif %}>
            <input type="text" name="subject" data-autocomplete="subject" placeholder="z.B. Anatomie" minlength="3" {% if query.subject %}value="{{query.subject}}"{% endif %}>
          </div><br>
          <div class="inputlabel">
            <label>Dozent</label>
            <input type="hidden" name="examinerId" {% if query.examinerId %}value="{{query.examinerId}}"{% endif %}>
            <input type="text" name="examiner" data-autocomplete="examiner" placeholder="z.B. Joachim Kirsch" minlength="3" {% if query.examiner %}value="{{query.examiner}}"{% endif %}>
          </div><br>
          <button type="submit" class="important iconbtn"><i class="material-icons">search</i> suchen</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>
<script type="text/javascript">
  atData = {
    examiner: new Fuse({{examiners | json_encode() | raw}}, {keys: ['name']}),
    subject: new Fuse({{subjects | json_encode() | raw}}, {keys: ['name']}),
    location: new Fuse({{locations | json_encode() | raw}}, {keys: ['name']})
  }
</script>
<script src="/assets/autocomplete.js"></script>
{% endblock %}