{% extends "app/appbase.twig" %}

{% block title %}Profil{% endblock %}

{% block content %}
  <div class="wrapper-2-col right-over">
    <div class="grid-col left">
      <h1 class="mtop0">Meine Inhalte</h1>
      <section>
        {% if noContent %}
          <div class="no-content">
            <i class="material-icons">new_releases</i><br><br>
            Du hast noch keine Inhalte eingetragen.
          </div>
          <div class="resultsgrid morecols" style="padding: 16px">
            {% if user.isReportsUser %}<a href="/app/newreport"><i class="material-icons">play_arrow</i> Bericht eintragen</a>{% endif %}
            {% if user.isPetitionsUser %}<a href="/app/petitions/new"><i class="material-icons">play_arrow</i> Petition erstellen</a>{% endif %}
          </div>
        {% endif %}
        <ul class="striped">
          {% for result in petitions %}
            <a href="/app/petitions/{{result.id}}" class="main-text"><li><span>{{result.dateReadable}} - <strong>{{result.title}}</strong> ({{result.statusReadable}})</span></li></a>
          {% endfor %}
          {% for result in reports %}
            <a href="/app/exam/{{result.id}}" class="main-text"><li><span>{{result.dateReadable}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</span></li></a>
          {% endfor %}
          {% for result in research %}
            <a href="/app/research/{{result.id}}" class="main-text"><li><span>{{result.dateReadable}} - <strong>{{result.subject}}</strong>: {{result.head}} & {{result.supervisor}}</span></li></a>
          {% endfor %}
          {% for result in petitionComments %}
            <a href="/app/petitions/{{result.Petition.id}}#comment{{result.id}}" class="main-text"><li><span>
              {{result.dateReadable}} - <strong>{{result.Petition.title}}</strong>: <small>{{result.text | slice(0,30)}}{% if result.text|length > 30 %}...{% endif %}</small>
            </span></li></a>
          {% endfor %}
        </ul>
      </section>
    </div>
    <div class="grid-col right">
      <h1 class="mtop0">Account</h1>
      {% if pwChanged %}<section class="card" id="error-msg"><i class="material-icons">check</i>Passwort wurde geändert.</section><br>{% endif %}
      <section class="card mb">
        <h3>Passwort ändern</h3>
        <form method="POST">
          <div class="pwinput" id="pw-new">
            <input type="password" name="newpw" required placeholder="neues Passwort">
            <i class="material-icons on">visibility</i>
            <i class="material-icons off">visibility_off</i>
          </div>
          <div class="pwinput" id="pw-repeat">
            <input type="password" name="repeatpw" required placeholder="Passwort wiederholen">
            <i class="material-icons on">visibility</i>
            <i class="material-icons off">visibility_off</i>
          </div>
          <button type="submit" class="iconbtn" name="changepw" value="1"><i class="material-icons">key</i> Passwort ändern</button>
        </form>
      </section>
      {% if user.isPetitionsUser %}
      <section class="card mb">
        <h3>Nickname ändern</h3>
        <p>Dein Nickname erscheint in Kommentaren und Petitionen</p>
        <form method="POST">
          <div class="inputlabel">
            <label>Nickname</label>
            <input type="text" name="nickname" value="{{user.nickname}}">
          </div><br>
          <input type="checkbox" class="lbl" name="anonymous" id="cbanonymous" value="true" {% if user.anonymous %}checked{% endif %}>
          <label class="check" for="cbanonymous">anonym bleiben</label><br><br>
          <button type="submit" class="iconbtn" name="changename" value="1"><i class="material-icons">save</i> speichern</button>
        </form>
      </section>
      {% endif %}
      <section class="card mb">
        <h3>Account löschen</h3>
        <p style="color: red;">
          <i class="material-icons">warning</i> Wenn du deinen Account löschst, werden alle deine Berichte ebenfalls unwiderruflich gelöscht!
        </p>
        <form action="deleteAccount" method="POST" onsubmit="return confirm('Soll der Account wirklich gelöscht werden?')">
          <input type="hidden" name="doit" value="yes">
          <button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> Account löschen</button>
        </form>
      </section>
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function makePWVisibilityToggle (container) {
    const elContainer = document.getElementById(container)
    const elOn = elContainer.querySelector('i.on')
    const elOff = elContainer.querySelector('i.off')
    const elInput = elContainer.querySelector('input')
    elOff.style.display = 'none'
    elOn.addEventListener('click', e => {
      elOn.style.display = 'none'
      elOff.style.display = 'block'
      elInput.type = 'text'
    })
    elOff.addEventListener('click', e => {
      elOff.style.display = 'none'
      elOn.style.display = 'block'
      elInput.type = 'password'
    })
  }
  makePWVisibilityToggle('pw-new')
  makePWVisibilityToggle('pw-repeat')
</script>
{% endblock %}