{% extends "app/appbase.twig" %}

{% block title %}Admin Benutzer{% endblock %}

{% block content %}
  <div class="wrapper-2-col">
    <section class="grid-col left">
      <div class="card">
        {% block admincontent %}{% endblock %}
      </div>
    </section>
    <section class="grid-col right">
      <div class="card mb">
        <h1>ausstehende Autorisierungen</h1>
        {% if pendingAuths %}
        <ul class="striped pending-auths">
          {% for auth in pendingAuths %}
            <li>
              <div class="main-text small">
                {{auth.email}}
                <div class="second-line">{{auth.authReason}}</div>
              </div>
              <a href="?acceptAuth={{auth.id}}" class="end-btn"><i class="material-icons">check</i></a>
              <a href="?deleteAuth={{auth.id}}" class="end-btn danger"><i class="material-icons">delete</i></a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="empty-status">
          <i class="material-icons icon">checklist</i>
          Derzeit warten keine Nutzer auf Autorisierung.
        </div>
        {% endif %}
      </div>
      <div class="card mb">
        <h1>Login-Seite</h1>
        <form method="post">
          <div class="inputlabel">
            <label>Beschreibungstext Website</label>
            <textarea name="loginDescription" class="short">{{loginDescription}}</textarea>
          </div>
          <div class="inputlabel">
            <label>Registrierung Erklärungstext</label>
            <textarea name="loginRegisterExplainer" class="short">{{loginRegisterExplainer}}</textarea>
          </div><br>
          <button type="submit" class="iconbtn"><i class="material-icons">save</i> speichern</button>
        </form>
      </div>
    </section>
  </div>
{% endblock %}