{% extends "app/appbase.twig" %}

{% block title %}Admin Benutzer{% endblock %}

{% block content %}
  <div class="wrapper-2-col">
    <section class="grid-col left">
      <div class="card">
        {% block admincontent %}{% endblock %}
      </div>
    </section>
    <section class="grid-col right">
      <div class="card mb">
        <h1>ausstehende Autorisierungen</h1>
        {% if pendingAuths %}
        <ul class="striped pending-auths">
          {% for auth in pendingAuths %}
            <li>
              <div class="main-text small">
                {{auth.email}}
                <div class="second-line">{{auth.authReason}}</div>
              </div>
              <a href="?acceptAuth={{auth.id}}" class="end-btn"><i class="material-icons">check</i></a>
              <a href="?deleteAuth={{auth.id}}" class="end-btn danger"><i class="material-icons">delete</i></a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="empty-status">
          <i class="material-icons icon">checklist</i>
          Derzeit warten keine Nutzer auf Autorisierung.
        </div>
        {% endif %}
      </div>
      <div class="card mb" v-scope='{editing: false, loginTexts: {{loginTexts | json_encode | raw}}}'>
        <h1>Login-Seite</h1>
        <div v-if="!editing">
          <div class="inputlabel">
            <label>Beschreibungstext Website</label>
            <p style="white-space: pre-wrap;">{{loginTexts.loginDescription}}</p>
          </div>
          <br>
          <div class="inputlabel">
            <label>Registrierung Erklärungstext</label>
            <div style="white-space: pre-wrap;">{{loginTexts.loginRegisterExplainerRendered | raw}}</div>
          </div>
          <button type="button" class="iconbtn" @click="editing = !editing"><i class="material-icons">edit</i> bearbeiten</button>
        </div>
        {% verbatim %}
          <form method="post" v-if="editing">
            <div class="inputlabel">
              <label>Beschreibungstext Website</label>
              <textarea name="loginDescription" class="short" v-model="loginTexts.loginDescription"></textarea>
            </div>
            <div class="inputlabel">
              <label>Registrierung Erklärungstext</label>
              <textarea name="loginRegisterExplainer" v-model="loginTexts.loginRegisterExplainer"></textarea>
              <small><a href="https://github.com/lifeparticle/Markdown-Cheatsheet/tree/e087e9703830ab4c6282b6cc1d3bb7319d7cc7ca" target="_blank">Markdown</a> verfügbar</small>
            </div><br>
            <button type="submit" class="iconbtn"><i class="material-icons">save</i> speichern</button>
          </form>
        {% endverbatim %}
      </div>
    </section>
  </div>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.iife.js" init></script>
<script>
  
</script>
{% endblock %}

{% block userjs %}{% endblock %}