{% extends "base.twig" %}

{% block title %}Pr체fungsart{% endblock %}

{% block content %}
  <div class="wrapper">
    <section class="card">
      <h1>Name 채ndern</h1>
      <form method="POST">
        <div class="inputlabel">
            <label>Name</label>
            <input type="text" name="newname" placeholder="Pr체fung" required minlength="3" value="{{location.name}}">
          </div><br>
      </form>
      <input type="submit" value="Name 채ndern">
    </section>
    <section>
      <h1>Berichte</h1>
      <ul>
        {% for result in reports %}
          <li><a href="/app/exam/{{result.id}}" class="main-text">{{result.readableDate}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>
{% endblock %}