{% extends "app/admin/adminreportbase.twig" %}

{% block admincontent %}
  <h1>Orte</h1>
  <div class="card mb">
    <h3>Suche</h3>
    <form method="get">
      <div class="inputlabel">
        <label for="locationsearchinput">Ortssuche</label>
        <input type="search" name="searchLocation" id="locationsearchinput" value="{{searchQuery}}" placeholder="Heidelberg">
      </div>
      <div class="flex-lr-stack mtop16">
        <div>
          <input type="checkbox" name="newestFirst" id="cbNewestFirst" class="lbl" {% if newestFirst %}checked{% endif %}>
          <label class="check" for="cbNewestFirst">neueste zuerst</label>
        </div>
        <button type="submit" class="iconbtn"><i class="material-icons">search</i> suchen</button>
      </div>
    </form>
  </div>
  <ul class="striped">
    {% for location in locations %}
      <li>
        <a href="examLocation/{{location.id}}" class="main-text">{{location.name}}<small> - seit {{location.createdAtReadable}}</small></a>
      </li>
    {% endfor %}
  </ul>
  {% if pageCount > 1 %}
  Seiten:
    {% for p in 1..pageCount %}
      {% if loop.index == pageIndex %}
        <strong>{{p}}</strong>
      {% else %}
        <a href="?page={{p}}">{{p}}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
  
</script>
{% endblock %}