{% extends "app/admin/base.twig" %}

{% block admincontent %}
      <h1>Name ändern</h1>
      <form method="POST">
        <div class="inputlabel">
            <label>Name</label>
            <input type="text" name="newname" placeholder="Haidelberg" required minlength="3" value="{{location.name}}">
          </div><br>
        <input type="submit" value="Name ändern">
      </form>
      <h1>Zusammenführen</h1>
      Um alle mit diesem Ort verknüpften Berichte einem anderen Ort zuzuweisen.<br>
      <form method="POST" onsubmit="return idCheck()">
        <div class="inputlabel">
          <label>Zusammenführen mit</label>
          <input type="hidden" id="joinid" name="joinId" required>
          <input type="text" name="join" data-autocomplete="location" placeholder="Name" required minlength="3">
        </div><br>
        <input type="submit" value="zusammenführen">
      </form>
      <h3>Ort löschen</h3>
      <p style="color: red;">
        <i class="material-icons">warning</i> Wenn du diesen Ort löschst, werden dessen Berichte ebenfalls unwiderruflich gelöscht!
      </p>
      <form method="POST" onsubmit="return confirm('Soll der Ort wirklich gelöscht werden?')">
        <input type="hidden" name="delete" value="yes">
        <button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> Ort löschen</button>
      </form>
      <p>
        <h1>Berichte</h1>
        <ul>
          {% for result in reports %}
            <li><a href="/app/exam/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</a></li>
          {% endfor %}
        </ul>
      </p>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>
<script type="text/javascript">
  atData = {
    location: new Fuse({{locations | json_encode() | raw}}, {keys: ['name']})
  }

  function idCheck () {
    if (document.getElementById('joinid').value) return true
    alert('Wähle bitte einen bestehenden Namen aus.')
    return false
  }
</script>
<script src="/assets/autocomplete.js"></script>
{% endblock %}