{% extends "app/admin/adminreportbase.twig" %}

{% block admincontent %}
      <h1>Name ändern</h1>
      <form method="POST">
        <div class="inputlabel">
            <label>Name</label>
            <input type="text" name="newname" placeholder="Amnamnese" required minlength="3" value="{{subject.name}}">
          </div><br>
        <input type="submit" value="Name ändern">
      </form>
      <h1>Zusammenführen</h1>
      Um alle mit diesem Fach verknüpften Berichte einem anderen Fach zuzuweisen.<br>
      <form method="POST" onsubmit="return idCheck()">
        <div class="inputlabel">
          <label>Zusammenführen mit</label>
          <input type="hidden" id="joinid" name="joinId" required>
          <input type="text" name="join" data-autocomplete="subject" placeholder="Name" required minlength="3">
        </div><br>
        <input type="submit" value="zusammenführen">
      </form>
      <h3>Fach löschen</h3>
      <p style="color: red;">
        <i class="material-icons">warning</i> Wenn du dieses Fach löschst, werden dessen Berichte ebenfalls unwiderruflich gelöscht!
      </p>
      <form method="POST" onsubmit="return confirm('Soll das Fach wirklich gelöscht werden?')">
        <input type="hidden" name="delete" value="yes">
        <button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> Fach löschen</button>
      </form>
      <p>
        <h1>Berichte</h1>
        <ul class="striped">
          {% for result in reports %}
            <li><a href="/app/exam/{{result.Exam.id}}" class="main-text">{{result.Exam.dateReadable}} - <strong>{{result.Exam.ExamType.name}}</strong>: {{result.Subject.name}}</a></li>
          {% endfor %}
        </ul>
      </p>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>
<script type="text/javascript">
  atData = {
    subject: new Fuse({{subjects | json_encode() | raw}}, {keys: ['name']})
  }

  function idCheck () {
    if (document.getElementById('joinid').value) return true
    alert('Wähle bitte einen bestehenden Namen aus.')
    return false
  }
</script>
<script src="/assets/autocomplete.js"></script>
{% endblock %}