{% extends "app/admin/adminuserbase.twig" %}

{% block admincontent %}
    {% if pwChanged %}<section class="card" id="error-msg"><i class="material-icons">key</i> Passwort wurde geändert.</section><br>{% endif %}
    {% if adminChanged %}<section class="card" id="error-msg"><i class="material-icons">local_police</i> Der Nutzer ist {% if viewedUser.isAdmin %}nun{% else %}nicht mehr{% endif %} Administrator.</section><br>{% endif %}
      <h1>{{viewedUser.email}}</h1>
      <h3>Passwort ändern</h3>
      <form method="POST">
        <div class="pwinput" id="pw-new">
          <input type="password" name="newpw" required placeholder="neues Passwort" autocomplete="off">
          <i class="material-icons on">visibility</i>
          <i class="material-icons off">visibility_off</i>
        </div>
        <div class="pwinput" id="pw-repeat">
          <input type="password" name="repeatpw" required placeholder="Passwort wiederholen" autocomplete="off">
          <i class="material-icons on">visibility</i>
          <i class="material-icons off">visibility_off</i>
        </div>
        <input type="submit" value="Passwort ändern">
      </form>
      <h3>Adminrechte</h3>
      {% if viewedUser.isAdmin %}{{viewedUser.email}} ist ein <strong>Administrator</strong>.<br>{% endif %}
      <form method="POST" onsubmit="return confirm('Bist du sicher, {{viewedUser.email}} die Adminrechte zu {% if viewedUser.isAdmin %}entziehen{% else %}erteilen{% endif %}?')">
        <input type="hidden" name="toggleAdmin" value="yes">
        <button type="submit" class="btn iconbtn">Adminrechte {% if viewedUser.isAdmin %}entziehen{% else %}erteilen{% endif %}</button>
      </form>
      
      <h3>Account löschen</h3>
      <p style="color: red;">
        <i class="material-icons">warning</i> Wenn du diesen Account löschst, werden dessen Berichte ebenfalls unwiderruflich gelöscht!
      </p>
      <form method="POST" onsubmit="return confirm('Soll der Account wirklich gelöscht werden?')">
        <input type="hidden" name="deleteAccount" value="yes">
        <button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> Account löschen</button>
      </form>
      
    <p>
      <h2>Berichte</h2>
      <ul class="striped">
        {% for result in reports %}
          <li><a href="/app/exam/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</a></li>
        {% endfor %}
        {% for result in research %}
          <li><a href="/app/research/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.subject}}</strong>: {{result.workReadable}}</a></li>
        {% endfor %}
      </ul>
      <h2>Petitionen</h2>
      <ul class="striped">
        {% for result in petitions %}
          <li><a href="/app/petitions/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.title}}</strong> ({{result.statusReadable}})</a></li>
        {% endfor %}
      </ul>
      <h2>Kommentare</h2>
      <ul class="striped">
        {% for result in petitionComments %}
          <li><a href="/app/petitions/{{result.Petition.id}}#comment{{result.id}}" class="main-text">
            {{result.dateReadable}} - <strong>{{result.Petition.title}}</strong>: <small>{{result.text | slice(0,30)}}{% if result.text|length > 30 %}...{% endif %}</small>
          </a></li>
        {% endfor %}
      </ul>
    </p>
{% endblock %}

{% block userjs %}
<script type="text/javascript">
  function makePWVisibilityToggle (container) {
    const elContainer = document.getElementById(container)
    const elOn = elContainer.querySelector('i.on')
    const elOff = elContainer.querySelector('i.off')
    const elInput = elContainer.querySelector('input')
    elOff.style.display = 'none'
    elOn.addEventListener('click', e => {
      elOn.style.display = 'none'
      elOff.style.display = 'block'
      elInput.type = 'text'
    })
    elOff.addEventListener('click', e => {
      elOff.style.display = 'none'
      elOn.style.display = 'block'
      elInput.type = 'password'
    })
  }
  makePWVisibilityToggle('pw-new')
  makePWVisibilityToggle('pw-repeat')
</script>
{% endblock %}