{% extends "app/admin/adminuserbase.twig" %}

{% block admincontent %}
    {% if pwChanged %}<section class="card" id="error-msg"><i class="material-icons">key</i> Passwort wurde geändert.</section><br>{% endif %}
    {% if extended %}<section class="card" id="error-msg"><i class="material-icons">timer</i> Account wurde verlängert.</section><br>{% endif %}
    {% if permissionsChanged %}<section class="card" id="error-msg"><i class="material-icons">local_police</i> Die Berechtigungen wurden geändert.</section><br>{% endif %}
      <h1 class="mtop0">{{viewedUser.email}}</h1>
      {% if viewedUser.nickname %}Nickname "{{viewedUser.nickname}}"<br>{% endif %}
      {% if user.isAdmin %}
        <h3>Passwort ändern</h3>
        <form method="POST" autocomplete="off">
          <div class="pwinput" id="pw-new">
            <input type="password" name="newpw" required placeholder="neues Passwort" autocomplete="off">
            <i class="material-icons on">visibility</i>
            <i class="material-icons off">visibility_off</i>
          </div>
          <div class="pwinput" id="pw-repeat">
            <input type="password" name="repeatpw" required placeholder="Passwort wiederholen" autocomplete="off">
            <i class="material-icons on">visibility</i>
            <i class="material-icons off">visibility_off</i>
          </div>
          <input type="submit" name="changePW" value="Passwort ändern">
        </form>
        <h3>Berechtigungen</h3>
        <form method="POST">
          <h4>Adminberechtigungen</h4>
          <ul class="admin-permissions">
            <li class="{% if viewedUser.isAdmin %}has-permission{% endif %}">
              <span class="permission-name">Admin</span>
              <span class="permission-description">
                Darf alles der anderen auch, und außerdem Accounts bearbeiten.
              </span>
              {% if viewedUser.isAdmin %}
                <button type="submit" name="toggleAdmin" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleAdmin" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isAwardsAdmin %}has-permission{% endif %}">
              <span class="permission-name">PaLMe-Admin</span>
              <span class="permission-description">
                Darf PaLMe-Preise und -Kandidaten bearbeiten und erstellen.
              </span>
              {% if viewedUser.awardsAdmin %}
                <button type="submit" name="toggleAwardsAdmin" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleAwardsAdmin" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isPetitionsAdmin %}has-permission{% endif %}">
              <span class="permission-name">Petitionsadmin</span>
              <span class="permission-description">
                Darf Petitionen freischalten und Petitionen anderer Nutzer bearbeiten.
              </span>
              {% if viewedUser.petitionsAdmin %}
                <button type="submit" name="togglePetitionsAdmin" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="togglePetitionsAdmin" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isFormsAdmin %}has-permission{% endif %}">
              <span class="permission-name">Umfragenadmin</span>
              <span class="permission-description">
                Darf Umfragen erstellen und löschen.
              </span>
              {% if viewedUser.formsAdmin %}
                <button type="submit" name="toggleFormsAdmin" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleFormsAdmin" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isModerator %}has-permission{% endif %}">
              <span class="permission-name">Moderator</span>
              <span class="permission-description">
                Darf Berichte und Kommentare bearbeiten und löschen, sowie externe Nutzer freischalten.
              </span>
              {% if viewedUser.moderator %}
                <button type="submit" name="toggleModerator" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleModerator" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
          </ul>
          <h4>Nutzerberechtigungen</h4>
          <ul class="admin-permissions">
            <li class="{% if viewedUser.isReportsUser %}has-permission{% endif %}">
              <span class="permission-name">Berichte</span>
              <span class="permission-description">
                Darf Berichte lesen und schreiben.
              </span>
              {% if viewedUser.isReportsUser %}
                <button type="submit" name="toggleReportsUser" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleReportsUser" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isAwardsUser %}has-permission{% endif %}">
              <span class="permission-name">PaLMe</span>
              <span class="permission-description">
                Darf bei PaLMe abstimmen.
              </span>
              {% if viewedUser.isAwardsUser %}
                <button type="submit" name="toggleAwardsUser" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleAwardsUser" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isPetitionsUser %}has-permission{% endif %}">
              <span class="permission-name">Petitionen</span>
              <span class="permission-description">
                Darf Petitionen unterstützen und erstellen.
              </span>
              {% if viewedUser.isPetitionsUser %}
                <button type="submit" name="togglePetitionsUser" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="togglePetitionsUser" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
            <li class="{% if viewedUser.isFormsUser %}has-permission{% endif %}">
              <span class="permission-name">Umfragen</span>
              <span class="permission-description">
                Darf an Umfragen teilnehmen.
              </span>
              {% if viewedUser.isFormsUser %}
                <button type="submit" name="toggleFormsUser" value="yes" class="btn important">entziehen</a>
              {% else %}
                <button type="submit" name="toggleFormsUser" value="yes" class="btn secondary">erteilen</a>
              {% endif %}
            </li>
          </ul>
        </form>
        
        <h3>Account verlängern</h3>
        Der Account ist noch bis <strong>{{viewedUser.activeUntilReadable}}</strong> aktiv.<br>
        {% if canExtendActivation %}
          <form method="POST">
            <input type="hidden" name="extendAccount" value="yes">
            <button type="submit" class="btn">verlängern</button>
          </form>
        {% else %}
          Ab einem Jahr vor Ablauf kann der Account verlängert werden.
        {% endif %}

        <h3>Account löschen</h3>
        <p style="color: red;">
          <i class="material-icons">warning</i> Wenn du diesen Account löschst, werden dessen Berichte ebenfalls unwiderruflich gelöscht!
        </p>
        <form method="POST" onsubmit="return confirm('Soll der Account wirklich gelöscht werden?')">
          <input type="hidden" name="deleteAccount" value="yes">
          <button type="submit" class="btn iconbtn important"><i class="material-icons">delete</i> Account löschen</button>
        </form>
      {% endif %}
      
    <p>
      {% if user.isModerator %}
        <h2>Berichte</h2>
        <ul class="striped">
          {% for result in reports %}
            <li><a href="/app/exam/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.ExamType.name}}</strong>: {{result.subjects}}</a></li>
          {% endfor %}
          {% for result in research %}
            <li><a href="/app/research/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.subject}}</strong>: {{result.workReadable}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.isPetitionsAdmin %}
        <h2>Petitionen</h2>
        <ul class="striped">
          {% for result in petitions %}
            <li><a href="/app/petitions/{{result.id}}" class="main-text">{{result.dateReadable}} - <strong>{{result.title}}</strong> ({{result.statusReadable}})</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.isModerator or user.isPetitionsAdmin %}
        <h2>Kommentare</h2>
        <ul class="striped">
          {% for result in petitionComments %}
            <li><a href="/app/petitions/{{result.Petition.id}}#comment{{result.id}}" class="main-text">
              {{result.dateReadable}} - <strong>{{result.Petition.title}}</strong>: <small>{{result.text | slice(0,30)}}{% if result.text|length > 30 %}...{% endif %}</small>
            </a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </p>
{% endblock %}

{% block userjs %}
<script type="text/javascript">
  function makePWVisibilityToggle (container) {
    const elContainer = document.getElementById(container)
    const elOn = elContainer.querySelector('i.on')
    const elOff = elContainer.querySelector('i.off')
    const elInput = elContainer.querySelector('input')
    elOff.style.display = 'none'
    elOn.addEventListener('click', e => {
      elOn.style.display = 'none'
      elOff.style.display = 'block'
      elInput.type = 'text'
    })
    elOff.addEventListener('click', e => {
      elOff.style.display = 'none'
      elOn.style.display = 'block'
      elInput.type = 'password'
    })
  }
  makePWVisibilityToggle('pw-new')
  makePWVisibilityToggle('pw-repeat')
</script>
{% endblock %}