{% extends "app/admin/adminuserbase.twig" %}

{% block admincontent %}
  <h1 class="mtop0">Nutzer</h1>
  <div class="card">
    <h3>Suche</h3>
    <form method="get">
      <div class="inputlabel">
        <label for="usersearchinput">E-Mail / Nickname</label>
        <input type="search" name="searchUser" id="usersearchinput" value="{{searchQuery}}" placeholder="Tom.Test@email.org">
      </div>
      <div class="flex-lr-stack mtop16">
        <div>
          <input type="checkbox" name="onlyExternal" id="cbOnlyExternal" class="lbl" {% if onlyExternalShown %}checked{% endif %}>
          <label class="check" for="cbOnlyExternal">Nur externe Nutzer</label>
        </div>
        <button type="submit" class="iconbtn"><i class="material-icons">search</i> suchen</button>
      </div>
    </form>
  </div>
  <ul class="striped">
    {% for user in users %}
      <a href="user/{{user.id}}" class="main-text">
        <li>
          {% if user.hasAnyPermissions %}<strong>{% endif %}{{user.email}}{% if user.hasAnyPermissions %}</strong>{% endif %}
          {% if user.isAdmin %}<span class="important small tag">Admin</span>{% endif %}
          {% if user.awardsAdmin %}<span class="small tag">PaLMe</span>{% endif %}
          {% if user.petitionsAdmin %}<span class="small tag">Petitionen</span>{% endif %}
          {% if user.formsAdmin %}<span class="small tag">Umfragen</span>{% endif %}
          {% if user.moderator %}<span class="small tag">Mod</span>{% endif %}
          {% if user.nickname %} ({{user.nickname}}){% endif %}
          <small style="white-space: nowrap;">- seit {{user.createdAtReadable}}</small>
        </li>
      </a>
    {% endfor %}
  </ul>
  Seiten:
  {% for p in 1..pageCount %}
    {% if loop.index == pageIndex %}
      <strong>{{p}}</strong>
    {% else %}
      <a href="?page={{p}}">{{p}}</a>
    {% endif %}
  {% endfor %}
{% endblock %}