{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block head %}
<style>
  body {
    background: rgb(229,69,69);
    background: linear-gradient(159deg, rgba(229,69,69,1) 0%, rgba(193,11,29,1) 24%, rgba(61,132,192,1) 90%);
    min-height: 100vh;
  }
  body a {
    color: #ccc;
  }
  body a:visited:not(:hover) {
    color: #ccc;
  }

  #error-msg {
    margin: 0 auto;
  }

  .frontpage-cards {
    width: 100%;
    max-width: 1048px;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 16px;
  }
  .card-login {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .card-register {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .card-forgotpw {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  @media (min-width: 800px) {
    .card-login {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
    .card-register {
      grid-column: 2 / span 1;
      grid-row: 1 / span 3;
    }
    .card-forgotpw {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  .login-area {
    width: 100%;
    max-width: 500px;
    justify-self: center;
    background: rgba(255,255,255,0.65) !important;
  }
</style>
{% endblock %}

{% block body %}
  <section id="splash">
    FSmed Lehre
    <p>{{loginDescription | nl2br}}</p>
  </section>
  {% if hasError %}<section class="card" style="width: 100%; max-width: 500px" id="error-msg"><i class="material-icons">warning</i> {{ errorMsg }}</section>{% endif %}
  <div class="frontpage-cards">
    <section class="login-area card card-login">
      <h3>Login</h3>
      <form action="/login{{loginGoto}}" method="POST">
        <input type="email" name="email" placeholder="E-Mail">
        <div class="pwinput" id="pw-login">
          <input type="password" name="password" placeholder="Passwort">
          <i class="material-icons on">visibility</i>
          <i class="material-icons off">visibility_off</i>
        </div>
        <input type="submit" value="einloggen" class="btn important">
      </form>
    </section>
    <section class="login-area card card-register">
      <h3>Registrierung</h3>
      {{loginRegisterExplainer | raw}}
      <form action="/register{{loginGoto}}" method="POST">
        <input type="email" name="email" id="regemail-inp" placeholder="E-Mail">
        <div class="pwinput" id="pw-reg">
          <input type="password" name="password" placeholder="Passwort">
          <i class="material-icons on">visibility</i>
          <i class="material-icons off">visibility_off</i>
        </div>
        <div class="pwinput" id="pw-reg-repeat">
          <input type="password" name="repeatPassword" placeholder="Passwort wiederholen">
          <i class="material-icons on">visibility</i>
          <i class="material-icons off">visibility_off</i>
        </div>
        <small class="nohd" style="display: block;">Weshalb benötigst du Zugriff (nur bei Registrierung ohne stud.uni-heidelberg.de Adresse notwendig)</small>
        <textarea class="nohd" name="reason" style="height: 5rem; display: block;" placeholder="Begründung zur Freischaltung, wenn du von einer anderen Uni kommst"></textarea>
        <br>
        <input type="submit" value="registrieren">
      </form>
    </section>
    <section class="login-area card card-forgotpw">
      <h3>Passwort vergessen</h3>
      <form action="/forgotpwd" method="POST">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="submit" value="Passwort zurücksetzen">
      </form>
    </section>
  </div>
  <section style="text-align: center; padding: 24px 0; color: white;">
    &copy; Leander Berg, 2024. Licensed under <a href="/assets/LICENSE.txt" target="_blank">MIT License</a>.<br>
    Code at <a href="https://github.com/lulebe/fs-berichte">GitHub</a><br>
    <a href="https://www.fsmed-hd.de/impressum/">Impressum</a>
  </section>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function makePWVisibilityToggle (container) {
    const elContainer = document.getElementById(container)
    const elOn = elContainer.querySelector('i.on')
    const elOff = elContainer.querySelector('i.off')
    const elInput = elContainer.querySelector('input')
    elOff.style.display = 'none'
    elOn.addEventListener('click', e => {
      elOn.style.display = 'none'
      elOff.style.display = 'block'
      elInput.type = 'text'
    })
    elOff.addEventListener('click', e => {
      elOff.style.display = 'none'
      elOn.style.display = 'block'
      elInput.type = 'password'
    })
  }
  makePWVisibilityToggle('pw-login')
  makePWVisibilityToggle('pw-reg')
  makePWVisibilityToggle('pw-reg-repeat')

  const nohdElements = document.querySelectorAll('.nohd')
  document.getElementById('regemail-inp').addEventListener('input', e => {
    if (e.target.value.toLowerCase().endsWith('@stud.uni-heidelberg.de') || !e.target.value.includes('@')) {
      for (let i = 0; i < nohdElements.length; i++) {
        nohdElements[i].style.display = 'none'
      }
    } else {
      for (let i = 0; i < nohdElements.length; i++) {
        nohdElements[i].style.display = 'block'
      }
    }
  })
</script>
{% endblock %}
