{% extends "app/appbase.twig" %}

{% block title %}Petitionen{% endblock %}

{% block content %}
<div class="title-2-col">
  <h1>Petitionen</h1>
</div>
<div class="wrapper-2-col right-over">
  <div class="grid-col left">
    <a href="/app/petitions/new" class="btn iconbtn mb"><i class="material-icons">add</i> Neue Petition erstellen</a>
  </div>
  <div class="grid-col right">
    <div class="card mb">
      <h2>Suche</h2>
      <form method="get">
        {% for tag in tags %}
          <input type="checkbox" class="inp-cb-tag lbl" name="tags" value="{{tag.id}}" id="cbtag{{tag.id}}" {% if tag.id in selectedTags %}checked{% endif %}>
          <label for="cbtag{{tag.id}}">{{tag.name}}</label>
        {% endfor %}<br><br>
        <button type="submit" class="iconbtn important"><i class="material-icons">search</i> suchen</button>
        {% if user.isPetitionsAdmin %}
          <br><a href="/app/admin/petitions">Tags verwalten</a>
        {% endif %}
      </form>
    </div>
    <div class="card">
    <h3>Meine Petitionen</h3>
    {% if userPetitions %}
      <ul class="striped">
        {% for p in userPetitions %}
          <li><a href="/app/petitions/{{p.id}}" class="main-text">{{p.title}} - <small>{{p.dateReadable}}</small></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Du hast noch keine Petition erstellt.</p>
    {% endif %}
    </div>
  </div>
  {% if results %}
  <div class="resultsgrid">
    {% for result in results %}
      <a href="petitions/{{result.id}}" class="card selectable">
        <h3>{{result.title}}</h3>
        <div class="petitionprogress progress{{result.status}}">
          <div class="progressStep"><i class="material-icons">edit_note</i></div>
          <div class="progressStep"><i class="material-icons">draw</i></div>
          <div class="progressStep"><i class="material-icons">verified</i></div>
          <div class="progressStep"><i class="material-icons">groups</i></div>
          <div class="progressText">{{result.statusReadable}}</div>
        </div>
        <small><i class="material-icons primary">edit_note</i> {{result.dateReadable}} - {{result.author}}</small><br>
        <i class="material-icons accent">send</i> {{result.recipient}}
        <p class="usertext">{{result.shortText | nl2br }}</p>
        {% for tag in result.Tags %} <span class="small tag">{{tag.name}}</span> {% endfor %}
      </a>
    {% endfor %}
  </div>
  {% else %}
    <div class="no-content">
      <i class="material-icons">new_releases</i><br><br>
      Derzeit gibt es keine Petitionen.
    </div>
  {% endif %}
</div>
{% endblock %}

{% block js %}
{% endblock %}