{% extends "app/appbase.twig" %}

{% block title %}Petition{% endblock %}
{% block head %}
<style>
  .maintextarea img {
    max-width: 100%;
    max-height: 500px;
  }
</style>
{% endblock %}

{% block content %}
  <div class="petitionlayout">
    <section class="titlearea">
      <div class="error-container" id="clipboardHint" style="display: none">
        <div class="error-msg"><i class="material-icons">content_paste</i> Link kopiert!</div>
      </div>
      <button type="button" style="float: right; margin-left: 8px" class="iconbtn" onclick="share()"><i class="material-icons">share</i> Link teilen</button>
      <h1 class="mtop0">{{petition.title}}</h1>
      <div class="petitionprogress progress{{petition.status}}">
        <div class="progressStep"><i class="material-icons">edit_note</i></div>
        <div class="progressStep"><i class="material-icons">draw</i></div>
        <div class="progressStep"><i class="material-icons">verified</i></div>
        <div class="progressStep"><i class="material-icons">groups</i></div>
        <div class="progressText">{{petition.statusReadable}}</div>
      </div>
      <i class="material-icons primary">edit_note</i> {{petition.dateReadable}} - von {{petition.author}}<br>
      <i class="material-icons accent">send</i> an {{petition.recipient}}<br>
      <div class="card mtop16 mb">{{petition.shortText | nl2br }}</div>
      {% for tag in petition.Tags %}
        {% if user.isPetitionsUser %}
          <a href="/app/petitions?tags={{tag.id}}" class="tag">{{tag.name}}</a>
        {% else %}
          <span class="tag">{{tag.name}}</span>
        {% endif %}
      {% endfor %}
    </section>
    <section class="maintextarea">
      <div class="usertext">
        {{petition.textHtml | raw}}
      </div>
    </section>
    <section class="dataarea">
      <div class="card mb {% if isSupporting %}voted{% endif %}">
        <h3>Unterstützung</h3>
        <p><i class="material-icons">event</i>{{petition.deadlineReadable}}{% if isActive %} - {{daysLeft}} Tage verbleibend{% endif %}</p>
        {% if user.isPetitionsUser and supporterNames %}<small>u.a. {{supporterNames}}</small>{% endif %}
        <div class="supportersdisplay">
          <div class="current">{{petition.supporterCount}}</div>
          <div class="supportbar"><div class="indicator" style="width: {{indicatorLength}}%"></div><div class="percentage">{{indicatorLength}}%</div></div>
          <div class="goal">{{petition.goal}}</div>
        </div>
        {% if isActive and user.isPetitionsUser %}
        {% if isSupporting %}
          <form method="post">
            <button type="submit" class="secondary iconbtn mv8" name="support" value="0"><i class="material-icons">remove_circle_outline</i> nicht mehr unterstützen</button>
          </form>
        {% else %}
          <form method="post">
            <button type="submit" class="important iconbtn mv8" name="support" value="1"><i class="material-icons">check_circle_outline</i> unterstützen</button>
          </form>
        {% endif %}
        {% endif %}
        {% if user.isPetitionsUser %}<small>Du kannst in deinem <a href="/app/profile">Profil</a> ändern, ob und wie dein Name hier erscheinen darf.</small>{% endif %}
      </div>
      {% if user.id == petition.UserId or user.isPetitionsAdmin %}
      <div class="card">
        <h3>Verwaltung</h3>
        {% if user.isPetitionsAdmin %}<a href="/app/admin/user/{{petition.UserId}}"><i class="material-icons">person</i> von {{petition.User.email}}</a><br><br>{% endif %}
        {% if requireAdminConfirmationMsg %}
          <div class="card error-msg" style="width: 100%; max-width: 500px">
            <i class="material-icons">warning</i> Nur Admins dürfen derzeit Petitionen von "inaktiv" auf "aktiv" schalten.
          </div>
        {% endif %}
        {% if nextStep %}
          <form method="post" onsubmit="return confirm('Den Status dieser Petition wirklich ändern?')" style="display: inline-block">
            <button type="submit" class="btn iconbtn" name="advance" value="1"><i class="material-icons">arrow_forward</i> als {{nextStep}} markieren</button>
          </form><br><br>
        {% endif %}
        {% if prevStep %}
          <form method="post" onsubmit="return confirm('Den Status dieser Petition wirklich ändern?')" style="display: inline-block">
            <button type="submit" class="btn iconbtn small secondary" name="back" value="1"><i class="material-icons">arrow_back</i> als {{prevStep}} markieren</button>
          </form><br><br>
        {% endif %}
        <a href="{{petition.id}}/edit" class="btn iconbtn important"><i class="material-icons">edit</i> bearbeiten</a>
        <form method="post" onsubmit="return confirm('Diese Petition wirklich löschen?')" style="display: inline-block">
          <button type="submit" class="btn iconbtn important" name="deletepetition" value="1"><i class="material-icons">delete</i> löschen</button>
        </form>
      </div>
      {% endif %}
    </section>
    {% if user.isPetitionsUser %}
      <section class="commentsarea">
        <h1>Kommentare</h1>
        {% for comment in petition.PetitionComments %}
        <div class="card mb" id="comment{{comment.id}}">
          {% if user.isModerator or user.isPetitionsAdmin %}<a href="/app/admin/user/{{comment.User.id}}">{% endif %}{{comment.User.displayName}}{% if user.isModerator or user.isPetitionsAdmin %}</a>{% endif %} <small>({{comment.dateReadable}})</small>
          <hr>
          {% if comment.User.id == user.id or user.isModerator or user.isPetitionsAdmin %}
          <form method="post" class="inline" style="float: right" onsubmit="return confirm('Kommentar wirklich löschen?')">
            <button type="submit" class="small iconbtn important" name="deletecomment" value="{{comment.id}}"><i class="material-icons">delete</i></button>
          </form>
          {% endif %}
          <div class="usertext">{{comment.text | nl2br}}</div>
        </div>
        {% endfor %}
        <div class="card mb">
        <h4>Du hast Gedanken dazu?</h4>
          <small>Du kannst in deinem <a href="/app/profile">Profil</a> ändern, ob und wie dein Name hier erscheinen darf.</small>
          <form method="post">
            <div class="inputlabel">
              <label>Bitte sei freundlich zu anderen Studierenden und dem Adressaten!</label>
              <textarea name="comment" class="short usertext" placeholder="Dein Kommentar..."></textarea>
            </div><br>
            <button type="submit">Kommentar abschicken</button>
          </form>
        </div>
      </section>
    {% endif %}
  </div>
{% endblock %}

{% block js %}
<script>
  const shareData = {
    title: "FSmed HD Petition: {{petition.title}}",
    url: "{{currentUrl}}"
  }
  function share () {
    if ('share' in navigator)
      navigator.share(shareData)
      .catch(_ => {})
    else if ('clipboard' in navigator)
      copyClipboard()
  }
  function copyClipboard () {
    navigator.clipboard.writeText(shareData.url)
    document.getElementById('clipboardHint').style.display = 'block'
    setTimeout(() => {
      document.getElementById('clipboardHint').style.display = 'none'
    }, 2000)
  }
</script>
{% endblock %}